header{
    text-align: center;
    font-size: 45px;
    color: gold;
    font-family: 'Petit Formal Script', cursive;
    
}
body {
    background-color: black;
}
p {
    color: gold
}


.enter{
    display: flex;
    justify-content: center;
    align-items: center;
        width: 300px;
        height: 150px;
        font-size: 25px;
        color:gold  ;
        background-color: black;
        font-family: 'Petit Formal Script', cursive;
    
    }
#landing{
    background-image: url("img/Rob-Roy_2018_234338den3.jpg");
    height: 750px;
    background-position: center;
    background-repeat: no-repeat; 
    background-color: black;
}
.landingH2{
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    justify-content: center;
   
    color:gold;
    background-color:black ;
    opacity: 0.8;
    border-radius: 12px;
}

#cocktailImage{
    width: 475px;
    border-radius: 45px;
}
.showCocktail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
}
.subject{
    display: flex;
    justify-content: center;
}
span{
    color:gold
}

.subject{
    color:#FFAFB6
}

.punctuation{
    color:white
}

#cocktailImage{
    border-width: 3px;
    border-color: gold;
}